{% extends "base.html" %}
{% block body %}
<article>
  <div class="title">
    <h1>
      <a href="{{ url_for('app.show_entry', entry_id=entry.id) }}">
        {{ entry.title }}
      </a>
    </h1>
  </div>

  <div class="byline">
    <i class="far fa-clock"></i>
    <time>{{ entry.created_at }}</time>
    <i class="fas fa-user"></i>
    <span class="author">{{ get_username(entry.user_id) }}</span>
    {% if not entry.is_public and entry.user_id == session.user_id %}
    <i class="fas fa-user-secret" id="draft-icon"></i>
    {% endif %}

    {% if entry.user_id == session.user_id %}
    <a class="edit" href="{{ url_for('app.edit_entry', entry_id=entry.id) }}"><i class="far fa-edit"></i></a>
    <a class="delete" href="{{ url_for('app.delete_entry', entry_id=entry.id) }}"><i class="far fa-trash-alt"></i></a>
    {% endif %}
  </div>


  <div class="content">
    {{ markdown_to_html(entry.content) | safe }}
  </div>

  <div class="comments">
    <h3>Leave your comment</h3>
    <form action="{{ url_for('app.post_comment', entry_id=entry.id) }}" method="post">
      <label for="author">Your name</label>
      <input type="text" name="author" placeholder="Your name">
      <label for="content">Comment</label>
      <textarea name="content" placeholder="Comment"></textarea>
      <input type="submit" value="Submit">
    </form>

    <h3>Comments</h3>
    {% for comment in comments %}
    <div class="comment">
      <div class="author">{{ comment.author }}</div>
      <p class="content">
      {{ comment.content }}
      </p>

      <div class="menu">
        <ul>
          <li>{{ entry.created_at }}</li>
          {% if entry.user_id == session["user_id"] %}
          |
          <li>
            <!--
            <a href="{{ url_for('app.delete_comment', entry_id=entry.id, comment_id=comment.id) }}">delete</a>
            -->
            <a class="delete" href="{{ url_for('app.delete_comment', entry_id=entry.id, comment_id=comment.id) }}"><i class="far fa-trash-alt"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
