{% extends "base.html" %}
{% block body %}
{% for entry in entries %}
<article>
  <div class="title">
    <h1>
      <a href="{{ url_for('app.show_entry', entry_id=entry.id) }}">
        {{ entry.title }}
      </a>
    </h1>

  </div>
  <div class="byline">
    <i class="far fa-clock"></i>
    <time datetime={{entry.created_at}}>{{ entry.created_at }}</time>
    <i class="fas fa-user"></i>
    <span class="author">{{ get_username(entry.user_id) }}</span>

    {% if entry.user_id == session.user_id %}
    <a class="edit" href="{{ url_for('app.edit_entry', entry_id=entry.id) }}"><i class="far fa-edit"></i></a>
    <a class="delete" href="{{ url_for('app.delete_entry', entry_id=entry.id) }}"><i class="far fa-trash-alt"></i></a>
    {% endif %}
  </div>
</article>
{% endfor %}
{% endblock %}
