<!doctype html>
<html>
  <head>
    <title>Battery</title>
    <meta charset=utf-8>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/highlight.css') }}">
  </head>
  <body>
    <div class=container>
      {% block container %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.js"></script>
    <script text="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
